.Active{
  transform: translate(0, 12px) scale(0.75);
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;

  label {
    position: absolute;
    transform: translate(0, 26px) scale(1);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    cursor: text;
    pointer-events: none;
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }

  &:focus  label,  .Active  {
    transform: translate(0, 12px) scale(0.75);
  }

  &:focus-within  label  {
    transform: translate(0, 12px) scale(0.75);
  }
  .input {
    width: 100%;
    outline: none;
    padding: 16px;
    border: 2px solid $white-gray;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
   
  }
}

.error {
  border: 2px solid $error-color-primary !important;
}

.error__message {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 8px;

  &:before {
    position: absolute;
    content: "x";
    text-align: center;
    font-size: 10px;
    color: $color-white;
    font-weight: bold;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $error-color-primary;
  }

  span {
    font-size: 12px;
    margin-left: 1.3rem;
    color: #272422;
  }

}