.social__btn {
  outline: none;
  max-width: 480px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  border: 1px solid #66666683;
  cursor: pointer;
  padding: 1rem;

  span {
    font-size: 14px;

  }

}