.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $btn-secondary;
  color: $color-white;
  padding: 16px;
  // height: 48px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.2rem;

  cursor: pointer;
  svg {
    width: 30px;
    height: 30px;
    margin-right: 7px;

  }
  
  &__icon {
    border: 2px solid red;
    position: absolute;
    left: 0;
    top: 50;
    margin: 0;
  }
}