$background-primary-color: #a51716;
$header-color: #df0000;
$color-white: #ffffff;
$white-gray: #918e8c;
$btn-secondary: #000000;
$error-color-primary: #d20000;
$error-color-secondary: #fff8f8;
$error-color-tertiary: #651818;
$footer-color: #494745;