$background-primary-color: #a51716;
$background-tertiary-color: #f7f7f7;
$shadow-color-primary: #ffffff00;
$shadow-color-secondary: #0000000f;
$header-color: #df0000;
$color-white: #ffffff;
$white-gray: #918e8c;
$border-color-gray: #cccccc;
$color-black: #000000;
$color-red: #df0000;
$color-disable: #cccccc;
$btn-secondary: #000000;
$btn-primary: #F0B300;
$text-gray: #3a3a3a;
$background-sheet-F: #ec6608;
$error-color-primary: #d20000;
$error-color-secondary: #fff8f8;
$error-color-tertiary: #651818;
$footer-color: #494745;