@import url(https://db.onlinewebfonts.com/c/4313d7354c9b8afe25e1a98773ade48d?family=MM+Headline+Pro+WebTT+Regular+Regular);

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;

  &__all {
    margin-top: 50px;
    width: 100%;

    form {
      width: 70%;
      input {
        margin-bottom: 2rem !important;
      }
      .btLinks {
        button {
          width: 100%;
          margin-bottom: 2rem !important;
        }

        &__link {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          a {
            font-weight: 700;
            border-bottom: 2px solid $color-black;
            font-size: 1rem;
          }
          svg {
            color: $color-red;
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    &__group {
      margin-right: 10px;
      margin-left: 10px;
      .title {
        font-weight: 600;
      }

      p {
        margin-top: 1rem;
        text-align: left;
        font-size: 1rem;
        color: #272422;
        margin-bottom: 1.5rem;
      }
      
    }
   
  }
}