.header {
  background: $header-color;
  line-height: 1;
  margin: 0 auto;

  &__top {
    display: flex;
    max-width: 1472px;
    flex-direction: row;
    margin: 0 auto;
    padding: 12px 0;
    gap: 1rem;
    font-weight: 600;
    overflow: hidden;

    @media (max-width: 1000px) {
      display: none;
    }

    a {
      color: $color-white;
      font-size: 13px;
    }
  }


  // @media only screen and (min-width: 750px){
  //   position: sticky;
  //   top: -40px;
  //   z-index: 99999;
  // }
  // @media only screen and (min-width: 1000px){
  //   position: sticky;
  //   top: -10px;
  //   z-index: 99999;
  // }

  &__main {
    max-width: 1472px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    @media (max-width: 750px) {
      display: flex;
      flex-direction: column;
      justify-content: left;

      padding: 10px;

    }

    &__logo {
      // width: 200px;
      // height: auto;
      margin-right: 1rem;
      object-fit: contain;

      @media (max-width: 1000px) {
        margin-right: 12px;
      }

      //Bug with image responsive
      @media (max-width: 750px) {
        display: flex;
        text-align: left;
        // width: max-content;
        width: 150px;
        left: 0;
      }
    }

    .rigth {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      cursor: pointer;
      padding-right: 2rem;

      &__container {
        h3 {
          color: $color-white;
          font-size: 1rem;
          line-height: 25px;
        }

        p {
          color: $color-white;
          font-size: 12px;
        }
      }

      &__arrow {
        position: absolute;
        transform: rotate(180deg);
        top: 8px;
        left: 130px;

        svg {
          fill: $color-white;
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 24px;
    border: 2px solid $color-white;
    border-radius: 8px;
    color: $color-white;
    font-weight: 900;
    letter-spacing: 1px;
    cursor: pointer;
    background: none;
    margin-right: 1rem;

    @media (max-width: 1000px) {
      position: absolute;
      display: grid;
      place-items: center;
      border: none;
      margin: 0;
      left: -8px;
      // top: 15px;
    }

    @media (max-width: 750px) {
      position: absolute;
      display: grid;
      place-items: center;
      justify-content: center;
      border: none;
      margin: 0;
      left: -8px;
      // top: 35px;
    }



    svg {
      width: 25px;
      height: 25px;
    }

    span {
      margin-left: 6px;
      font-size: 13px;

      @media (max-width: 1000px) {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    .userIcon {
      cursor: pointer;
    }
    // gap: 1rem;

    &__icons {
      position: relative;
      display: grid;
      place-items: center;
      background: $color-white;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin-right: 10px;

    }

    @media (max-width: 750px) {
      position: absolute;
      right: 8px;

      // top: 0;
    }
  }

  &__cart__count {
    display: grid;
    place-items: center;
    position: absolute;
    content: "";
    width: 1.1rem;
    height: 1.1rem;
    background: black;
    border-radius: 50%;
    top: -2px;
    right: -3px;

    p {
      color: $color-white;
      font-size: 10px;
      font-weight: 600;
    }
  }
}

.sideMenuBlur {
  z-index: 900;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  left: 285px;
  top: 0;
}

.sideSearchBlur {
  // z-index: 900;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  // right: 205px;
  top: 0;
}