.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 40px;

  &__all {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;

    &__group {

      .title {
        font-size: 28.8px;
        text-align: left;
        margin-bottom: 10px;
        font-style: normal;
      }

      p {
        text-align: left;
        font-size: 14px;
        color: #272422;
        margin-bottom: 15px;
      }

      label {
        color: #272422;
      }

      input {
        margin-bottom: 20px;
        width: 70% !important;

        @media(max-width:505px) {
          width: 100% !important;
        }
      }

      button {
        @media(max-width:505px) {
          width: 100% !important;
        }
      }
    }

  }
}