.top {
  background: $color-black;
  // height: 45px;
  margin: 0 auto;
  &__container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 10px 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      text-align: center;
      font-size: 14px;
      color: $color-white;
      text-decoration: underline;
      font-weight: 400;
      // @media (max-width: 750px){
      //   &:nth-child(-n+3){
      //     display: none;
      //   }
      // }
    }

   
  }
}