.card__container {
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;

  @media (max-width: 1130px) {
    flex-wrap: wrap;
  }
}

.card__content {
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;

  img {
    width: 150px;
    height: 150px;
  }

  p {
    width: 100%;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    inline-size: 140px;
    overflow-wrap: break-word;

  }
}